@using Curate.Data.Models
@model IEnumerable<VideoChannel>;
@{
    ViewBag.Title = "Video Channels";
}
@section Styles{
    @await Html.PartialAsync("_DatatablesStyles")
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Video Channels</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Channels</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a href="@Url.Action("CreateChannel","Video")" class="btn btn-success float-right">Create</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tblChannels" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Blurb</th>
                                    <th>Last Modified</th>
                                    <th>Url</th>
                                    <th>ImageUrl</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var channel in Model)
                                {
                                    <tr>
                                        <td>@channel.RssFeed.Title</td>
                                        <td>@channel.RssFeed.Blurb</td>
                                        <td>@channel.RssFeed.LastUpdated</td>
                                        <td>@channel.RssFeed.Url</td>
                                        <td>@channel.RssFeed.ImageUrl</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Blurb</th>
                                    <th>Last Modified</th>
                                    <th>Url</th>
                                    <th>ImageUrl</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section Scripts{
@await Html.PartialAsync("_DatatablesScripts")
<!-- Page specific script -->
<script>
    $(function () {
      $("#tblChannels").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": true,
      }).buttons().container().appendTo('#tblChannels_wrapper .col-md-6:eq(0)');
    });
</script>
}